@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
body.login {
	background: #F2D624 url('../img/login_bg.png') no-repeat;
}
h1 {
	font-size: 32px;
	line-height: 42px;
}
label {
	font-weight: normal;
}
h2 {
	font-size: 24px;
	line-height: 28px;
}
.logo {
	width: 328px;
	height: 162px;
	background: url('../img/logo.png') no-repeat;
	display: block;
	margin: 50px auto;
}
.form_signin {
	width: 236px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.form_signin h2 {
	font-size: 21px;
	line-height: 25px;
	font-weight: normal;
	color: #201600;
}
input[type=text]:not(.form-control), input[type=password]:not(.form-control), input[type=submit]:not(.form-control) {
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-family: 'Rounded Elegance';
	font-size: 15px;
	background: none;
	border: 1px solid #52433D;
	padding-left: 25px;
	margin-top: 15px;
}
input[type=submit]:not(.form-control) {
	padding-left: 0;
	font-family: 'Open Sans', sans-serif;
}
input[type=submit] {
	padding: 0;
	text-transform: uppercase;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #52433D;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #52433D;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #52433D;
}
:-moz-placeholder { /* Firefox 18- */
  color: #52433D;
}

.navbar {
	background: #F2D624;
	height: 71px;
}
.navbar-nav {
	height: 71px;
}
.navbar-nav li, .navbar-nav a {
	height: 71px;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-header {
	height: 71px;
}
.navbar-nav a.active, .navbar-nav a.active:hover {
	background: #fff7c7 !important;
}
.navbar-nav a:hover {
	background: #fff7c7 !important;
}
#navbar {
	height: 71px;
}
.navbar-default .navbar-nav>li>a {
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 0;
	line-height: 75px;
	color: #201600;
}
.navbar li.active a {
	background: none !important;
}
.top_menu {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.top_menu li {
	width: 20%;
	display: block;
	float: left;
	padding: 30px 20px 20px 20px;
	height: 147px;
	font-size: 16px;
	color: black;
	position: relative;
}
.top_menu li span {
	color: #F2D624;
	font-size: 48px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 20px;
}
.top_menu li:hover, .top_menu li.active {
	background: #F2D624;
}
.top_menu li:hover span, .top_menu li.active span {
	color: white;
}
.time {
	font-size: 18px !important;
}
.lower, .lower a {
	text-transform: none !important;
}
.breadcrumbs {
	margin: 20px 0;
	padding: 0;
	display: block;
	list-style: none;
	clear: both;
}
.breadcrumbs li {
	float: left;
	text-transform: uppercase;
	color: #b9b9b9;
}
.breadcrumbs li:after {
	content: '/';
	display: block;
	float: right;
	padding: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #b9b9b9;
}
.clearfix {
	clear: both;
}
.container-fluid.map {
	padding: 0 !important;
}
#velo_map {
	width: 100%;
	height: 300px;
	margin-top: 30px;
}
.header {
	width: 100%;
}
.header h1 {
	width: 50%;
	float: left;
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 14px;
}
.header ul li {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 5px;
}
.buttons {
	clear: both;
	float: none;
}
.buttons {
	list-style: none;
	padding: 0;
	margin: 20px 0;
}
.buttons li {
	width: auto !important;
	height: 60px !important;
	display: block;
	float: left;
}
.buttons li a {
	display: block;
	width: auto !important;
	height: 60px;
	line-height: 68px;
	line-height: 60px;
	background: #f5f5f5;
	font-size: 18px;
	color: #8b8bbb;
	text-align: center;
	padding: 0 25px;
}
.buttons li a.active, .buttons li a:hover {
	background: #F2D624;
	text-decoration: none;
	color: #201600;
}
.row.user {
	padding: 30px 0;
}
table.trip {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
}
table.trip td {
	padding: 10px;
	border: 1px solid #e1e1e1;
}
table.trip tr:nth-child(odd) td {
	background: #f9f9f9;
}
td.orange {
	background: #f2d624;
	text-align: center;
	color: black;
}
table.user {
	width: 100%;
	border-collapse: collapse;
}
table.user tr {
	height: 16px;
	padding-bottom: 10px;
}
table.user td {
	padding-bottom: 12px;
}
table.user td:nth-child(odd) {
	text-align: left;
	color: #6a6a6a;
	font-size: 15px;
}
table.user td:nth-child(even) {
	text-align: right;
	color: black;
	font-size: 15px;
}
.rtool {
	width: 50px;
	height: 50px;
	display: block;
}
.rtool.active {
	background-color: #F2D624;
}
.mode_map {
	background-image: url('../img/icon_map.png');
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.mode_table {
	background-image: url('../img/icon_table.png');
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.table {
	margin: 30px 0;
}
.table tr, .table td, .table th {
	height: 50px;
	vertical-align: middle !important;
	border: none !important;
	border-bottom: 1px solid white !important;
}
.table thead th {
	text-transform: uppercase;
	color: #b9b9b9;
}
.tr_pink {
	background: #ffe3e3;
}
.tr_red {
	background: #ffaaaa;
}
.tr_green {
	background: #92e285;
}
.tr_yel {
	background: #F2D624;
}
.tr_pas {
	background: #fff7c7;
}
.tools {
	display: block;
	clear: both;
}
.tools .left {
	width: 50%;
	float: left;
}
.tools .left p {
	line-height: 40px;
	display: block;
	float: left;
}
.tools .left select {
	width: 100px;
	float: left;
	margin-left: 15px;
}
.tools .pagination {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	border-radius: 0;
	border: none;
}
.pagination li a {
	width: 36px;
	height: 36px;
	background: #f1f1f1;
	text-align: center;
	line-height: 36px;
	padding: 0;
	margin: 0;
	border-radius: 0 !important;
	border: none;
	font-size: 15px;
	line-height: 40px;
	color: #201600;
	margin-left: 3px;
}
.pagination li a.active, .pagination li a:hover {
	color: white;
	background: #F2D624;
}
.black_block {
	width: 100%;
	background: #201600;
	padding: 10px 20px;
	overflow: hidden;
	margin: 30px 0;
}
.black_block p {
	display: block;
	width: 30%;
	height: 100%;
	float: left;
	color: white;
}
.black_block form {
	width: 50%;
	float: left;
}
.black_block p {
	display: block;
	height: 54px;
	line-height: 54px;
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
}
form.hor {
	height: 54px;
}
form.hor input[type=text] {
	width: 170px;
	background: white;
	border: none;
	height: 52px;
}
form.hor input[type=text], form.hor input[type=submit] {
	height: 52px;
	display: inline-block;
	margin: 0;
}
form.hor input[type=submit] {
	width: 50px;
	height: 52px;
	background: #F2D624;
	border: none;
}
.gform {
	background: #f5f5f5;
	padding: 20px 30px;
	margin-bottom: 30px;
}
.gform h4 {
	font-size: 15px;
	color: #201600;
	text-transform: uppercase;
}
.gform form.hor p {
	color: #6a6a6a;
	display: block;
	float: left;
	height: 52px;
	line-height: 60px;
	margin: 0;
}
.gform .ff {
	display: block;
	float: right;
}
.gform form.hor {
	display: block;
	clear: both;
	margin: 8px 0;
}
.velo_card {
	width: 395px;
}
.velo_head {
	display: block;
	height: 70px;
}
.velo_head h1 {
	float: left;
	width: 80%;
	font-size: 24px;
	color: #201600;
	padding-left: 30px;
}
.velo_head div {
	width: 20%;
	float: right;
	padding-top: 28px;
	text-align: right;
}
.velo_head div p {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 2px;
}
.velo_form {
	display: block;
	clear: both;
}
.velo_form .vf {
	display: block;
	clear: both;
}
.velo_form p {
	display: block;
	float: left;
	line-height: 34px;
	font-size: 14px;
	color: #6a6a6a;
	padding-left: 30px;
}
.velo_form select {
	width: 35%;
	display: block;
	float: right;
	background: #F2D624;
	border: none;
	margin-right: 30px;
}
.velo {
	display: block;
	clear: both;
}
.velo.gray {
	background: #f1f1f1;
	padding: 30px 30px 15px 30px;
}
.velo.gray p {
	display: block;
	width: 100%;
	color: #6a6a6a;
	font-size: 14px;
	text-align: left;
}
.velo.gray p span {
	float: right;
}
.velo_card.park {
	
}
.velo_card.park .velo_vert a {
	text-transform: none;
}
.velo_card.park .velo_head h1 {
	width: 70%;
}
.velo_card.park .velo_head div {
	width: 30%;
}
.velo_card.park .velo_head p {
	width: auto;
	height: auto;
}
.velo_vert {
	list-style: none;
	margin: 30px 0 10px 30px;
	padding: 0;
}
.velo_vert li {
	display: block;
	clear: both;
	padding-bottom: 14px;
}
.velo_vert a {
	font-size: 16px;
	color: #6a6a6a;
	text-decoration: none;
	text-transform: uppercase;
}
.velo_vert a:hover {
	color: #201600;
}
.velo_menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.velo_menu li {
	width: 50%;
	height: 50px;
	float: left;
}
.velo_menu a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 57px;
	background: #F2D624;
	font-size: 15px;
	text-align: center;
	color: #201600;
}
.velo_menu a:hover {
	text-decoration: none;
}
.velo_cmd {
	background: #201600;
	height: 98px;
	width: 100%;
	line-height: 105px;
	color: #F2D624;
	padding: 0;
	clear: both;
	padding-left: 30px;
	font-size: 15px;
}
.gm-style-iw {
	left: 1px !important;
	top: 0 !important;
}
.gm-style .gm-style-iw {
	width: 395px !important;
	max-width: 395px !important;
}   
.gm-style-iw div { overflow: hidden; }
.gm-style-pbc + div div { width: 395px !important; }
.gm-style-iw + div { left: auto !important; top: 0 !important; right: 0 !important; width: 13px !important; overflow: hidden !important; }
.green {
	background: #7CEE69;
}
.red {
	background: #FF6262;
}
.navbar-brand {
	width: 200px;
	font-size: 14px;
	text-align: center;
	position: relative;
	line-height: 45px;
	padding-left: 50px;
}
.navbar-brand:before {
	content: '';
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url('../img/ava.png') 0% 50% no-repeat;
	position: absolute;
	top: 15px;
	left: 0;
}